---
layout: compress
---
<!-- 상단 진행바 시작 -->
<style>
  .progress-bar {
      background: linear-gradient(to right, black var(--scroll), transparent 0);
      background-repeat: no-repeat;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 3px;
      z-index: 9000;
  }
  </style>
  
  <!-- This is the bar which shows scroll percentage -->
  <div class="progress-bar"></div>
  
  
  <!-- Script used to generate --scroll variable with current scroll percentage value -->
  <script>
  var element = document.documentElement,
    body = document.body,
    scrollTop = 'scrollTop',
    scrollHeight = 'scrollHeight',
    progress = document.querySelector('.progress-bar'),
    scroll;
  
  document.addEventListener('scroll', function() {
    scroll = (element[scrollTop]||body[scrollTop]) / ((element[scrollHeight]||body[scrollHeight]) - element.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');
  });
  </script>
  <!-- 하단 진행바 끝  --> 

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

{% assign color = site.color | default:'#5ff656b' %}
{% assign image = site.image | default:'/assets/img/nap.jpg' %}

{% if page.categories.size > 0 %}
  {% assign category_name = page.categories.first %}
  {% assign category = site.featured_categories | where: "slug", category_name | first %}
  {% if category.color %}{% assign color = category.color %}{% endif %}
  {% if category.image %}{% assign image = category.image %}{% endif %}
{% elsif page.tags.size > 0 %}
  {% assign tag_name = page.tags.first %}
  {% assign tag = site.featured_tags | where: "slug", tag_name | first %}
  {% if tag.color %}{% assign color = tag.color %}{% endif %}
  {% if tag.image %}{% assign image = tag.image %}{% endif %}
{% elsif author %}
  {% if author.color %}{% assign color = author.color %}{% endif %}
  {% if author.image %}{% assign image = author.image %}{% endif %}
{% endif %}

{% if page.color %}{% assign color = page.color %}{% endif %}
{% if page.image %}{% assign image = page.image %}{% endif %}

<head>
  {% include head.html %}
</head>

<body>
  {% include body.html %}
</body>
