---
layout: base
---

<div class="page">
  <h1 class="page-title">{{ page.title | default:"Home"}}</h1>
  <hr/>

  {{ content }}

  <!-- <h2>Posts</h2> -->
  <ul class="related-posts">
    {% for post in site.posts %}
      {% include post-list-item.html post=post %}
        <sup><sub>{% include tag-list.html tags=post.categories meta=site.featured_categories start_with="  / " separator=" / " %}
        {% include tag-list.html tags=post.tags meta=site.featured_tags start_with="  / " separator=", " %}</sub></sup>
    {% endfor %}
  </ul>

</div>